/* Reusable column layout pattern */
/* Assuming 12 column vertical grid layout */
.row {
  /* better way to clear floats is ::after pseudo selector */
  /* the has been moved to base/_mixins "clearfix" for reusability sake */
  @mixin clearfix;
  /*  &::after {
    content: "";
    clear:both;
    display: table;
  }
  */

 /* background-color: yellow; -- for debugging purposes  */

 &--gutters {
   margin-right: -65px; /* to get rid of the last column right margin  */
 }

  &--gutters > div { /* add padding to direct childs <div>s */
    padding-right: 65px;
    /* Browser will not add padding to the total width of row */
    /* In recent years box-sizing: border-box CSS property  */
    /* Is added into global setting for each element to overwrite
       browsers defaults base/_global.css */

  }
  /* for tiny and small size screns, add bottom margin */
  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    /* starting medium size screens,
            reset margin-bottom to 0 */
    &__b-margin-until-medium {
      margin-bottom: 0;
    }
     /* use two columns layout on medium or larger screens */
      &__medium-4 {
        float: left;
        width: 33.33%; /* 4/12 = 33.33% */
      }

      &__medium-4--larger {
        width: 37%; /* 4/12 = 33.33% */
      }


      &__medium-8 {
        float: left;
        width: 66.66%; /* 8/12 = 66.66% */
      }

      &__medium-8--smaller {
        width: 63%; /* 8/12 = 66.66% */
      }



  }

}

/* <div class="clear-me">  MUST come after all the floating siblings */
/* Main parent <div class="row" will know how tall he is */
/* Is not recommended because the empty div element created in the HTML
  NOT the best practice  */
/* .clear-me {
    clear: both;
}
*/
