/* Block section-title Introduced at "our features" section  */
.section-title {
  /* color: yellow; */
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  strong {
    font-weight: 500;
  }

  &__icon {
    margin-right: 0.5rem;
  }

}
